<% include ../partials/header %>
<div style="text-align:center" class="container">
  <%= post.creator %>
  <h1><%= post.title %></h1>
  <h5><%= post.year %></h5>
  <img src="<%= post.image %>">
  <p><%= post.plot %></p>
  <div class="buttons">
    <a href="/movies/<%= post._id %>/edit"><button class="btn btn-warning"> Edit Post</button></a>
    <form action="/movies/<%= post._id %>?_method=DELETE" method="POST">
      <button style="display:inline;" class="btn btn-danger"> Delete Post</button>
    </form>
    <a href="/movies"><button class="btn btn-primary"> Go Back</button></a>
  </div>
  <% include ../comments/new %>
</div>
<% include ../partials/footer %>
